@model Limoncello.Models.Project

@{
    bool isOrganizer = ViewBag.UserId == Model.OrganizerId;
}

<partial name="TempMessagePartial" model="Model" />

<div class="mt-3 h-100">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>
            <a asp-action="Index" asp-controller="Project" class="no-underline-no-colour">
                ←
            </a>
            @Model.Name
        </h1>
        @if (isOrganizer)
        {
            <div class="d-flex align-items-center">
                <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Task Column
                    </button>
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton" style="width: 300px;">
                        <form method="post" asp-action="AddTaskColumn" asp-controller="Project">
                            <input type="hidden" name="ProjectId" value="@Model.Id" />
                            <div class="form-group">
                                <label for="Name" class="ms-3">Column Name</label>
                                <input type="text" class="form-control m-3 w-auto" name="Name" required />
                            </div>
                            <button type="submit" class="dropdown-item btn m-3">Create Column</button>
                        </form>
                    </div>
                </div>
                <a asp-action="Settings" asp-controller="Project" asp-route-id="@Model.Id" class="btn btn-secondary">Settings</a>
            </div>
        }
        else
        {
            <form id="leaveBoardForm" method="post" asp-action="LeaveBoard" asp-controller="Project">
                <input type="hidden" name="projectId" value="@Model.Id" />
                <button type="button" data-toggle="modal" data-target="#leaveBoardModal" class="btn btn-danger">
                    Leave Board
                </button>
            </form>
        }
    </div>

    <div class="d-flex w-100 overflow-auto">
        @foreach (var column in Model.TaskColumns)
        {
            <div id="columnBody" class="me-4 rounded-3">
                @* Title *@
                <div class="card-header me-4 rounded">
                    Column Name: @column.Name
                </div>
                @* Tasks *@

                <div id="tasks" class="col-md-4 flex-shrink-0 overflow-auto rounded" style="max-height:calc(65vh);">
                    @foreach (var task in column.ProjectTasks)
                    {
                        <div class="card-body m-2 rounded border border-dark cursor-pointer" data-toggle="modal" data-target="#taskDetailsModal-@task.Id">
                            <h5>Task name: @task.Title</h5>
                        </div>

                        <div class="modal fade" id="taskDetailsModal-@task.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailsModalLabel-@task.Id" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    @* 3 dots menu *@
                                    <div class="modal-header border-bottom-0">
                                        <h3 class="modal-title text-dark" id="taskDetailsModalLabel-@task.Id">Task Details</h3>
                                        @if(isOrganizer){
                                            <div class="dropdown">
                                                <button class="" type="button" id="taskOptionsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="taskOptionsDropdown">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editTaskModal-@task.Id">Edit</a>
                                                    @* Delete task form *@
                                                    <form method="post" asp-action="DeleteTask" asp-controller="Project" onsubmit="return confirm('Are you sure you want to delete this task?')">
                                                        <input type="hidden" name="taskId" value="@task.Id" />
                                                        <button type="submit" class="dropdown-item text-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        }
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @* Display task modal *@
                                    <div class="modal-body">
                                        <h4 class="text-dark">@task.Title</h4>
                                        <p><strong>Description:</strong> @task.Description</p>
                                        <p><strong>Status:</strong>
                                            <form id="taskStatus-@task.Id" method="post" asp-action="EditTaskStatus" asp-controller="Project">
                                                <input type="hidden" name="Id" value="@task.Id" />
                                                <select name="Status" class="form-select" onchange="updateTaskStatus(@task.Id)">
                                                    <option value="NotStarted" selected="@(task.Status == Limoncello.Models.TaskStatus.NotStarted)">Not Started</option>
                                                    <option value="InProgress" selected="@(task.Status == Limoncello.Models.TaskStatus.InProgress)">In Progress</option>
                                                    <option value="Completed" selected="@(task.Status == Limoncello.Models.TaskStatus.Completed)">Completed</option>
                                                </select>
                                            </form>
                                        </p>
                                        <p><strong>Content:</strong> @task.Content</p>
                                        <p><strong>Start Date:</strong> @task.StartDate</p>
                                        <p><strong>Due Date:</strong> @task.DueDate</p>
                                        <hr />
                                        @* Comments *@
                                        <div class="mt-4">
                                            <h5 class="text-dark">Comments</h5>
                                            <div class="list-group">
                                                @foreach (var comment in task.Comments)
                                                {
                                                    var base64String = comment.User.ProfilePicture != null ? Convert.ToBase64String(comment.User.ProfilePicture) : null;
                                                    <div class="list-group-item p-3 mb-2 border rounded shadow-sm">
                                                        <div class="list-group-item p-3 mb-3 border rounded shadow-sm d-flex align-items-start">
                                                            <img id="profile-picture-@comment.User.Id"
                                                                 class="dropdown-toggle me-3"
                                                                 src="@(base64String != null ? $"data:image/png;base64,{base64String}" : "/images/pfp_placeholder.png")"
                                                                 alt="Profile Picture"
                                                                 style="width: 50px; height: 50px; border-radius: 50%; cursor: pointer;"
                                                                 data-bs-toggle="dropdown"
                                                                 aria-expanded="false" />
                                                            <div class="flex-grow-1">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <h6 class="mb-1" style="font-weight: bold;">@comment.User.FirstName @comment.User.LastName</h6>
                                                                    <small class="text-muted">@comment.CreatedDate.ToString("MMMM dd, yyyy HH:mm")</small>
                                                                </div>
                                                                <p class="mt-2 mb-0" style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal; word-break: break-word;">
                                                                    @comment.Content
                                                                </p>
                                                            </div>
                                                        </div>
                                                        @if (ViewBag.UserId == comment.UserId)
                                                        {
                                                            <div class="mt-2 text-end">
                                                                <form method="post" asp-action="RemoveComment" asp-controller="Project" onsubmit="return confirm('Are you sure you want to delete this comment?')">
                                                                    <input type="hidden" name="commentId" value="@comment.Id" />
                                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <form method="post" asp-action="AddComment" asp-controller="Project" class="mt-4">
                                            <input type="hidden" name="ProjectTaskId" value="@task.Id" id="projectTaskId" />
                                            <div class="form-group">
                                                <label for="Content" class="font-weight-bold">Add a comment</label>
                                                <br />
                                                <br />
                                                <textarea id="Content" name="Content" class="form-control" rows="4" placeholder="Write your comment here..."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-3">Add Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Edit Task Modal *@
                        <div class="modal fade" id="editTaskModal-@task.Id" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel-@task.Id" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editTaskModalLabel-@task.Id">Edit Task</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" asp-action="EditTask" asp-controller="Project">
                                            <input type="hidden" name="TaskColumnId" value="@task.TaskColumnId" />
                                            <div class="form-group">
                                                <label for="Title">Title</label>
                                                <input type="text" class="form-control" name="Title" value="@task.Title" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="Description">Description</label>
                                                <textarea class="form-control" name="Description" rows="3" required>@task.Description</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="StartDate">Start Date</label>
                                                <input type="date" class="form-control" name="StartDate" value="@task.StartDate?.ToString("yyyy-MM-dd")" required  />
                                            </div>
                                            <div class="form-group">
                                                <label for="DueDate">Due Date</label>
                                                <input type="date" class="form-control" name="DueDate" value="@task.DueDate?.ToString("yyyy-MM-dd")" required />
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (isOrganizer)
                {
                    <div class="dropdown card">
                        <button type="button"
                                data-toggle="modal"
                                data-target="#addTaskModal"
                                class="btn"
                                onclick="updateTaskColIdOnForm(@column.Id)">
                            Add Task
                        </button>
                    </div>
                }
            </div>
        }
    </div>
</div>

@* Leave board confirmation popup *@
<div class="modal fade" id="leaveBoardModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Leave board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to leave the board?
            </div>
            <div class="modal-footer flex-column">
                <button type="button" class="btn btn-danger" onclick="submitLeaveBoardForm()">Leave</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@* Create task popup *@
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="AddTask" asp-controller="Project">
                    <input type="hidden" name="TaskColumnId" value="" id="taskColumnId" />
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" name="Title" required />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" name="Description" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="StartDate">Start Date</label>
                        <input type="date" class="form-control" name="StartDate" required />
                    </div>
                    <div class="form-group">
                        <label for="DueDate">Due Date</label>
                        <input type="date" class="form-control" name="DueDate" required />
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Create Task</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function submitLeaveBoardForm(){
        document.getElementById("leaveBoardForm").submit();
    }

    function updateTaskColIdOnForm(id){
        document.getElementById("taskColumnId").value = id;
    }

    function updateTaskStatus(taskId) {
        var form = document.getElementById('taskStatus-' + taskId);
        var formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                console.log('Task status updated successfully');
            } else {
                alert('Failed to update task status: ' + data.message);
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
</script>

<style>
    .d-flex.overflow-auto {
        white-space: nowrap;
    }

    .col-md-4 {
        width: 300px;
    }
</style>


