@model Limoncello.Models.Project

<partial name="TempMessagePartial" model="Model" />

<div class="mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>
            <a asp-action="Index" asp-controller="Project" class="no-underline-no-colour">
                ←
            </a>
            @Model.Name
        </h1>
        @if (ViewBag.UserId == Model.OrganizerId){
            <a asp-action="Settings" asp-controller="Project" asp-route-id="@Model.Id" class="btn btn-secondary">Settings</a>
        }
        else{
            <form id="leaveBoardForm" method="post" asp-action="LeaveBoard" asp-controller="Project">
                <input type="hidden" name="projectId" value="@Model.Id" />
                <button type="button" data-toggle="modal" data-target="#leaveBoardModal" class="btn btn-danger">
                    Leave Board
                </button>
            </form>
        }
    </div>
    <div class="row">
        @foreach(var column in Model.TaskColumns)  @* Design is not yet in final form! *@
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        Column Name: @column.Name
                    </div>
                    <div class="card-body">
                        @foreach (var task in column.ProjectTasks)
                        {
                            <div class="mb-2">
                                <h5>Task Name: @task.Name</h5>
                                <p>Task Description: @task.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@* Leave board confirmation popup *@
<div class="modal fade" id="leaveBoardModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Leave board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to leave the board?
            </div>
            <div class="modal-footer flex-column">
                <button type="button" class="btn btn-danger" onclick="submitLeaveBoardForm()">Leave</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function submitLeaveBoardForm(){
        document.getElementById("leaveBoardForm").submit();
    }
</script>